
<div class="footer-hldr">
    <div class="container">
        <div class="ftr-row-1">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul>
                        <li>Quick Link
                        </li>
                        
                        <li><a href="/home" title="Investor">Home</a>
                        </li>
                        <li><a href="/about" title="About Us">About Us</a>
                        </li>
                        <li><a href="/contact" title="Contact Us">Contact Us</a>
                        </li>
                        <li><a href="/blog" title="Blog">Blog</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul>
                        <li>Help
                        </li>
                        <li><a href="/faq" title="FAQs">FAQs</a>
                        </li>
                        <li><a href="/terms-and-conditions" title="Terms &amp; Conditions" rel="nofollow">Terms &amp; Conditions</a>
                        </li>
                        <li><a href="/privacy-policy" title="Privacy Policy" rel="nofollow">Privacy Policy</a>
                        </li>
                        <li id="footshowOfferdiv" style="display:block;"><a href="/special-offers" title="Offers" rel="nofollow">Offers</a>
                        </li>
                        
                        
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div id="BlogHeading" class="ftr-head ">
                        Latest from the blog
                    </div>
                    <a href="https://www.buyforex.com/blog" id="blogDetails"><div class="ftr-blogimg"><img class="lazy" data-original="https://dy80itd41p90x.cloudfront.net/blog/a0d1ed75-93c3-49e2-9aa6-e95bfbc752b5.jpg" src="https://dy80itd41p90x.cloudfront.net/blog/a0d1ed75-93c3-49e2-9aa6-e95bfbc752b5.jpg" style="display: inline;"></div></a>
                </div>
            </div>
        </div>

    </div>
</div>