.btnScrollTop {
    background: black;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .scroll-to-top {
      position: fixed;
      bottom: 15px;
      right: 15px;
      opacity: 0;
      transition: all .2s ease-in-out;
  }
  
  .show-scroll {
      opacity: 1;
  }