<div class="contact-wapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 pdlftnon">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="cont-hldr">
              Want to talk? Just Say Hello
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="cls-txt-hdr">
              <input type="text" class="form-control" maxlength="50"  placeholder="Name" />
              <div class="val-div"></div>
            </div>
            
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 clsLeft">
            <div class="cls-txt-hdr">
              <input type="text" class="form-control" maxlength="10" placeholder="Mobile" />
              <div class="val-div"></div>
            </div>
            <div class="val-div"></div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="cls-txt-hdr">
                <input type="text" class="form-control" maxlength="50" placeholder="Email" />
                <div class="val-div"></div>
            </div>
            <div class="val-div"></div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="cls-txt-hdr">
                  <textarea class="form-control" maxlength="50" placeholder="Message"  ></textarea>
  
                  <div class="val-div"></div>
              </div>
              <div class="val-div"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="conbtn-div">
                    <input type="button" id="btnSignIn" class="btnsignup ConatctsUsClick" value="Send">
                    <div class="Rlodershow">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 pd-rgtnone dis-inlineblock">
          Get in touch
        </div>
      </div>
    </div>
  </div>